Source/ReportsVerification.Web/DataObjects/Xsd/Source/СЗВ-М/ВС/Входящие/РСВ/ТипыРВ_2014-01-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://пф.рф/ВС/типыРВ/2014-01-01"
           xmlns:АФ="http://пф.рф/АФ"
           xmlns:УТ="http://пф.рф/унифицированныеТипы/2014-01-01"
           targetNamespace="http://пф.рф/ВС/типыРВ/2014-01-01"
           elementFormDefault="qualified">

    <xs:import namespace="http://пф.рф/унифицированныеТипы/2014-01-01" schemaLocation="../../../УнифТипы_2014-01-01.xsd"/>
    <xs:import namespace="http://пф.рф/АФ" schemaLocation="../../../ТипыОбщие.xsd"/>

    <xs:annotation>
        <xs:documentation>Схема содержит общие типы данных для документов РСВ-1, РСВ-2, РВ-3</xs:documentation>
        <xs:documentation>Рекомендуемый префикс пространства имен - РВ</xs:documentation>
    </xs:annotation>

    <xs:complexType name="ТипПодтверждениеСведений">
		<xs:annotation>
			<xs:documentation>Тип, используемый для представления сведений о лице, подтверждающем достоверность и полноту сведений, содержащихся в Расчете: плательщике страховых взносов, представителе плательщика страховых взносов или правопреемнике</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="ТипПодтверждающего">
                <xs:annotation>
                    <xs:documentation>1 - в случае подтверждения достоверности и полноты сведений, содержащихся в Расчете, руководителем организации - плательщика взносов;
					2 - в случае подтверждения достоверности и полноты сведений представителем плательщика взносов;
					3 - в случае подтверждения достоверности и полноты сведений правопреемником плательщика взносов.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ФИОПодтверждающего" type="УТ:ТипФИО">
                <xs:annotation>
                    <xs:documentation>ФИО руководителя организации в случае, если представитель является плательщиком (правопреемником) взносов,
					либо ФИО представителя плательщика (правопреемника) взносов в случае, если представитель является физическим лицом,
					либо ФИО физического лица, уполномоченного в соответствии с документом, подтверждающим полномочия представителя плательщика (правопреемника) взносов, если представитель - юридическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="НаименованиеОрганизации" type="xs:normalizedString" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Наименование организации, подтверждающей достоверность и полноту сведений в случае, если представитель является юридическим лицом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Доверенность" type="УТ:ТипДоверенность" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Доверенность, подтверждающая полномочия представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ТипПрекращениеДеятельности">
        <xs:annotation>
            <xs:documentation>Тип, используемый для представления признака прекращения деятельности организации в связи с ликвидацией. Допустимое значение: «Л»</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Л"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипНомерУточнения">
        <xs:annotation>
            <xs:documentation>Тип, используемый для представления номера уточнения</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипКодОснованияДопТарифаРCВ1">
        <xs:annotation>
            <xs:documentation>Код основания для применения доп тарифа (Графа 3) :
                1 — в отношении выплат и иных вознаграждений в пользу физических лиц, занятых на соответствующих видах работ, указанных в пп. 1 п. 1 ст. 27 Федерального закона от 17 декабря 2001 г. № 173-ФЗ;
                2 — в отношении выплат и иных вознаграждений в пользу физических лиц, занятых на соответствующих видах работ, указанных в пп. 2–18 п. 1 ст. 27 Федерального закона от 17 декабря 2001 г. № 173-ФЗ.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипКодТарифаРCВ1">
        <xs:annotation>
            <xs:documentation>Тип кода тарифа взносов для РCВ-1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:enumeration value="01">
                <xs:annotation>
                    <xs:documentation>Плательщики страховых взносов, находящиеся на общей системе налогообложения и применяющие основной тариф страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
                <xs:annotation>
                    <xs:documentation>Общественные организации инвалидов (региональные и местные отделения), в том числе созданные как союзы общественных организаций инвалидов, среди членов которых инвалиды и их представители составляют не менее 80 процентов. Плательщики страховых взносов, производящие выплаты и иные вознаграждения физическим лицам, являющимся инвалидами I, II или III группы в отношении указанных выплат и вознаграждений. Организации, уставный капитал которых полностью состоит из вкладов общественных организаций инвалидов и в которых среднесписочная численность инвалидов составляет не менее 50 процентов, а доля заработной платы инвалидов в фонде оплаты труда составляет не менее 25 процентов. Учреждения, созданные для достижения образовательных, культурных, лечебно-оздоровительных, физкультурно-спортивных, научных, информационных и иных социальных целей, а также для оказания правовой и иной помощи инвалидам, детям-инвалидам и их родителям (иным законным представителям), единственными собственниками имущества которых являются общественные организации инвалидов, за исключением плательщиков страховых взносов, занимающихся производством и (или) реализацией подакцизных товаров, минерального сырья, других полезных ископаемых, а также иных товаров в соответствии с перечнем, утверждаемым Правительством Российской Федерации по представлению общероссийских общественных организаций инвалидов.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="04">
                <xs:annotation>
                    <xs:documentation>Организации и индивидуальные предприниматели, применяющие единый сельскохозяйственный налог</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="06">
                <xs:annotation>
                    <xs:documentation>Организации, осуществляющие деятельность в области информационных технологий (за исключением организаций, заключивших с органами управления особыми экономическими зонами соглашения об осуществлении технико-внедренческой деятельности и производящих выплаты физическим лицам, работающим в технико-внедренческой особой экономической зоне или промышленно-производственной особой экономической зоне), которыми признаются российские организации, осуществляющие разработку и реализацию разработанных ими программ для ЭВМ, баз данных на материальном носителе или в электронном виде по каналам связи независимо от вида договора и (или) оказывающие услуги (выполняющие работы) по разработке, адаптации, модификации программ для ЭВМ, баз данных (программных средств и информационных продуктов вычислительной техники), установке, тестированию и сопровождению программ для ЭВМ, баз данных</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="07">
                <xs:annotation>
                    <xs:documentation>Организации и индивидуальные предприниматели, применяющие упрощенную систему налогообложения и основной вид экономической деятельности которых указан в пункте 8 части 1 статьи 58 Федерального закона от 24 июля 2009 г. N 212-ФЗ</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="08">
                <xs:annotation>
                    <xs:documentation>Хозяйственные общества и хозяйственные партнерства, деятельность которых заключается в практическом применении (внедрении) результатов интеллектуальной деятельности (программ для электронных вычислительных машин, баз данных, изобретений, полезных моделей, промышленных образцов, селекционных достижений, топологий интегральных микросхем, секретов производства (ноу-хау), исключительные права на которые принадлежат учредителям (участникам) (в том числе совместно с другими лицами) таких хозяйственных обществ, участникам таких хозяйственных партнерств - бюджетным научным учреждениям и автономным научным учреждениям либо образовательным организациям высшего образования, являющимся бюджетными учреждениями, автономными учреждениями</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="09">
                <xs:annotation>
                    <xs:documentation>Плательщики страховых взносов российские организации и индивидуальные предприниматели, осуществляющие производство, выпуск в свет (в эфир) и (или) издание средств массовой информации (за исключением средств массовой информации, специализирующихся на сообщениях и материалах рекламного и (или) эротического характера), в том числе в электронном виде, основным видом экономической деятельности которых является:
                        а) деятельность в области организации отдыха и развлечений, культуры и спорта в части деятельности в области радиовещания и телевещания или деятельности информационных агентств;
                        б) издательская и полиграфическая деятельность, тиражирование записанных носителей информации в части издания газет или журналов и периодических публикаций, в том числе интерактивных публикаций</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="10">
                <xs:annotation>
                    <xs:documentation>Организации, получившие статус участников проекта по осуществлению исследований, разработок и коммерциализации их результатов в соответствии с Федеральным законом от 28 сентября 2010 г. N 244-ФЗ "Об инновационном центре "Сколково" </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="11">
                <xs:annotation>
                    <xs:documentation>Аптечные организации, признаваемые таковыми в соответствии с Федеральным законом от 12 апреля 2010 г. N 61-ФЗ "Об обращении лекарственных средств" и уплачивающие единый налог на вмененный доход для отдельных видов деятельности, а также индивидуальные предприниматели, имеющие лицензию на фармацевтическую деятельность и уплачивающие единый налог на вмененный доход для отдельных видов деятельности, в отношении выплат и вознаграждений, производимых физическим лицам в связи с осуществлением фармацевтической деятельности</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="12">
                <xs:annotation>
                    <xs:documentation>Некоммерческие организации (за исключением государственных (муниципальных) учреждений), зарегистрированных в установленном законодательством Российской Федерации порядке, применяющих упрощенную систему налогообложения и осуществляющих в соответствии с учредительными документами деятельность в области социального обслуживания населения, научных исследований и разработок, образования, здравоохранения, культуры и искусства (деятельность театров, библиотек, музеев и архивов) и массового спорта (за исключением профессионального)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="13">
                <xs:annotation>
                    <xs:documentation>Благотворительные организации, зарегистрированные в установленном законодательством Российской Федерации порядке и применяющие упрощенную систему налогообложения</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="15">
                <xs:annotation>
                    <xs:documentation>Организации, производящие выплаты и иные вознаграждения членам экипажей судов, зарегистрированных в Российском международном реестре судов, за исполнение трудовых обязанностей члена экипажа судна</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="16">
                <xs:annotation>
                    <xs:documentation>Индивидуальные предприниматели, применяющие патентную систему налогообложения, за исключением индивидуальных предпринимателей, осуществляющих виды предпринимательской деятельности, указанные в подпунктах 19, 45 - 47 пункта 2 статьи 346.43 Налогового кодекса Российской Федерации</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="18">
                <xs:annotation>
                    <xs:documentation>Сельскохозяйственные товаропроизводители, отвечающие критериям, указанным в статье 346.2 Налогового кодекса Российской Федерации</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="19">
                <xs:annotation>
                    <xs:documentation>Организации народных художественных промыслов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="20">
                <xs:annotation>
                    <xs:documentation>Семейные (родовые) общины коренных малочисленных народов Севера, Сибири и Дальнего Востока Российской Федерации, занимающиеся традиционными отраслями хозяйствования</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="36">
                <xs:annotation>
                    <xs:documentation>Организации и индивидуальные предприниматели, заключившие с органами управления особыми экономическими зонами соглашения об осуществлении технико-внедренческой деятельности и производящие выплаты физическим лицам, работающим в технико-внедренческой особой экономической зоне или промышленно-производственной особой экономической зоне.

                        Организации и индивидуальные предприниматели, заключившие соглашения об осуществлении туристско-рекреационной деятельности и производящие выплаты физическим лицам, работающим в туристско-рекреационных особых экономических зонах, объединенных решением Правительства Российской Федерации в кластер.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="52">
                <xs:annotation>
                    <xs:documentation>Плательщики страховых взносов, находящиеся на упрощенной системе налогообложения и применяющие основной тариф страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="53">
                <xs:annotation>
                    <xs:documentation>Плательщики страховых взносов, уплачивающие единый налог на вмененный доход для отдельных видов деятельности и применяющие основной тариф страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипОснованияДопТарифаРCВ1">
        <xs:annotation>
            <xs:documentation>Тип основания расчета по дополнительному тарифу РCВ-1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="100"/>
            <xs:enumeration value="РЕЗУЛЬТАТЫ СПЕЦОЦЕНКИ">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="РЕЗУЛЬТАТЫ АТТЕСТАЦИИ РАБОЧИХ МЕСТ">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="РЕЗУЛЬТАТЫ СПЕЦОЦЕНКИ И РЕЗУЛЬТАТЫ АТТЕСТАЦИИ РАБОЧИХ МЕСТ">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипЛицоПодтверждающееСведения">
        <xs:annotation>
            <xs:documentation>Код лица, подтверждающего сведения для РСВ-1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>плательщик страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>представитель плательщика страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>правопреемник</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипТипКорректировкиРСВ1">
        <xs:annotation>
            <xs:documentation>Тип корректировки для РСВ-1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="1"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипКодОснованияДоначисленияВзносовРСВ1">
        <xs:annotation>
            <xs:documentation>Тип корректировки для РСВ-1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:normalizedString">
            <xs:maxLength value="1"/>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>в случае доначисления по актам камеральных проверок, по которым в отчетном периоде</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation>в случае доначисления по актам выездных проверок, по которым в отчетном периоде вступили в силу решения о привлечении к ответственности плательщиков страховых взносов</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>в случае если плательщиком страховых взносов самостоятельно доначислены страховые взносы в случае выявления факта неотражения или неполноты отражения сведений, а также ошибок, приводящих к занижению суммы страховых взносов, подлежащей уплате за предыдущие отчетные периоды в соответствии со статьей  7 Федерального закона от 24 июля 2009 г. № 212-ФЗ.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ТипКодКатегории">
		<xs:annotation>
			<xs:documentation>Тип для представления кода Категории</xs:documentation>
		</xs:annotation>	
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="НР"/>
            <xs:enumeration value="СХ"/>
            <xs:enumeration value="ЕСХН"/>
            <xs:enumeration value="ФЛ"/>
            <xs:enumeration value="ХМН"/>
            <xs:enumeration value="ООИ"/>
            <xs:enumeration value="ХО"/>
            <xs:enumeration value="ТВЭЗ"/>
            <xs:enumeration value="ОДИТ"/>
            <xs:enumeration value="СМИ"/>
            <xs:enumeration value="ИЦС"/>
            <xs:enumeration value="СДП"/>
            <xs:enumeration value="ДП"/>
            <xs:enumeration value="АСБ"/>
            <xs:enumeration value="ЧЭС"/>
            <xs:enumeration value="ПНЭД"/>
            <xs:enumeration value="ВЖЭД"/>
            <xs:enumeration value="ВЖНР"/>
            <xs:enumeration value="ВЖСХ"/>
            <xs:enumeration value="ВЖЕН"/>
            <xs:enumeration value="ВЖМН"/>
            <xs:enumeration value="ВЖОИ"/>
            <xs:enumeration value="ВЖХО"/>
            <xs:enumeration value="ВЖТЗ"/>
            <xs:enumeration value="ВЖИТ"/>
            <xs:enumeration value="ВЖСИ"/>
            <xs:enumeration value="ВЖЦС"/>
            <xs:enumeration value="ВЖСБ"/>
            <xs:enumeration value="ВЖЭС"/>
            <xs:enumeration value="ВПЭД"/>
            <xs:enumeration value="ВПНР"/>
            <xs:enumeration value="ВПСХ"/>
            <xs:enumeration value="ВПЕН"/>
            <xs:enumeration value="ВПМН"/>
            <xs:enumeration value="ВПОИ"/>
            <xs:enumeration value="ВПХО"/>
            <xs:enumeration value="ВПТЗ"/>
            <xs:enumeration value="ВПИТ"/>
            <xs:enumeration value="ВПСИ"/>
            <xs:enumeration value="ВПЦС"/>
            <xs:enumeration value="ВПСБ"/>
            <xs:enumeration value="ВПЭС"/>
            <xs:enumeration value="БЕЗР"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ТипКодСпециальнойОценкиУсловийТруда">
		<xs:annotation>
			<xs:documentation>Тип, описывающий код специальной оценки условий труда в соответствии Федеральным законом от 28 декабря 2013 г. N 426-ФЗ "О специальной оценке условий труда":
О4 - опасные условия труда (4 класс),
В3.4 - подкласс 3.4 (вредные условия труда 4 степени),
В3.3 - подкласс 3.3 (вредные условия труда 3 степени),
В3.2 - подкласс 3.2 (вредные условия труда 2 степени),
В3.1 - подкласс 3.1 (вредные условия труда 1 степени)</xs:documentation>
		</xs:annotation>	
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="О4"/>
            <xs:enumeration value="В3.3"/>
            <xs:enumeration value="В3.4"/>
            <xs:enumeration value="В3.2"/>
            <xs:enumeration value="В3.1"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
