Source/ReportsVerification.Web/DataObjects/Xsd/Source/Декларация по УСН.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="‘айл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="ѕроверка имени файла на соответствие значению атрибута @»д‘айл">
					<sch:rule context="‘айл">
						<!--  “абл.4.1. ѕроверка имени файла на соответствие »д‘айл                                                                             -->
						<sch:assert test="usch:getFileName() = @»д‘айл">
							<usch:error code="0400400007" path="@»д‘айл" value-of-select="@»д‘айл" doc-id-path="usch:getFileName()" doc-id-caption="‘айл">»м€ файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента »д‘айл "<usch:value-of select="@»д‘айл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>‘айл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ƒокумент">
					<xs:annotation>
						<!---*************************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="ѕрисутствие ‘»ќ (руководител€ организации / представител€)  в  зависимости  от  значени€  ѕрѕодп и наличи€ ЌѕёЋ">
								<sch:rule context="ƒокумент">
									<!-- “абл.4.7.  онтроль  об€зательности  присутстви€  ‘»ќ (руководител€ организации / представител€)  в  зависимости  от  значени€  ѕрѕодп и наличи€ ЌѕёЋ -->
									<sch:assert test=" (ѕодписант/‘»ќ and ѕодписант/@ѕрѕодп=2) or (ѕодписант/‘»ќ and ѕодписант/@ѕрѕодп=1 and —вЌѕ/ЌѕёЋ) or 		( ( (ѕодписант/‘»ќ) or  not(ѕодписант/‘»ќ) )  and ѕодписант/@ѕрѕодп=1 and —вЌѕ/Ќѕ‘Ћ) ">
										<usch:error code="0400300003" path="ѕодписант/‘»ќ" value-of-select="ѕодписант/@ѕрѕодп"> Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ѕодписант/‘»ќ при значении элемента ѕрѕодп, равном "<usch:value-of select="ѕодписант/@ѕрѕодп"/>". </usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*************************************************************************************************************************************************************-->
						<xs:documentation>—остав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="—вЌѕ">
								<xs:annotation>
									<xs:documentation>—ведени€ о налогоплательщике</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="ЌѕёЋ">
											<xs:annotation>
												<xs:documentation>Ќалогоплательщик - организаци€</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="—в–еоргёЋ" minOccurs="0">
														<xs:annotation>
															<!---************************************************************************************************************************************-->
															<xs:appinfo>
																<sch:pattern name="ѕрисутствие атрибутов »ЌЌёЋ и  ѕѕ">
																	<sch:rule context="—в–еоргёЋ">
																		<!-- “абл.4.5.  онтроль  об€зательности  присутстви€  атрибутов  »ЌЌёЋ  и   ѕѕ  в  зависимости  от  значени€  атрибута  ‘орм–еорг  -->
																		<sch:assert test="usch:iif(@‘орм–еорг!=0, count(@»ЌЌёЋ)!=0, count(@»ЌЌёЋ)=0)">
																			<usch:error code="0400300003" path="@»ЌЌёЋ" value-of-select="@‘орм–еорг"> Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/—вЌѕ/ЌѕёЋ/—в–еоргёЋ/»ЌЌёЋ при значении элемента ‘орм–еорг, равном "<usch:value-of select="@‘орм–еорг"/>". </usch:error>
																		</sch:assert>
																		<sch:assert test="usch:iif(@‘орм–еорг!=0, count(@ ѕѕ)!=0, count(@ ѕѕ)=0)">
																			<usch:error code="0400300003" path="@ ѕѕ" value-of-select="@‘орм–еорг"> Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/—вЌѕ/ЌѕёЋ/—в–еоргёЋ/ ѕѕ при значении элемента ‘орм–еорг, равном "<usch:value-of select="@‘орм–еорг"/>". </usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<!---************************************************************************************************************************************-->
															<xs:documentation>—ведени€ о реорганизованной (ликвидированной) организации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="‘орм–еорг" use="required">
																<xs:annotation>
																	<xs:documentation> од формы реорганизации (ликвидаци€)</xs:documentation>
																	<xs:documentation>ѕринимает значение:
0 Ц ликвидаци€   | 
1 Ц преобразование   | 
2 Ц сли€ние   | 
3 Ц разделение   | 
5 Ц присоединение   | 
6 Ц разделение с одновременным присоединением</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="optional">
																<xs:annotation>
																	<xs:documentation>»ЌЌ организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name=" ѕѕ" type=" ѕѕ“ип" use="optional">
																<xs:annotation>
																	<xs:documentation> ѕѕ</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Ќаимќрг" use="required">
													<xs:annotation>
														<xs:documentation>Ќаименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="required">
													<xs:annotation>
														<xs:documentation>»ЌЌ организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name=" ѕѕ" type=" ѕѕ“ип" use="required">
													<xs:annotation>
														<xs:documentation> ѕѕ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ќѕ‘Ћ">
											<xs:annotation>
												<xs:documentation>Ќалогоплательщик - физическое лицо, зарегистрированное в качестве индивидуального предпринимател€</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="‘»ќ" type="‘»ќ“ип">
														<xs:annotation>
															<xs:documentation>‘амили€, им€, отчество</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип" use="required">
													<xs:annotation>
														<xs:documentation>»ЌЌ физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="ќ ¬Ёƒ" type="ќ ¬Ёƒ“ип" use="required">
										<xs:annotation>
											<xs:documentation> од вида экономической де€тельности по ќ ¬Ёƒ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="“лф" use="optional">
										<xs:annotation>
											<xs:documentation>Ќомер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ѕодписант">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="ѕрисутствие сведений о представителе">
											<sch:rule context="ѕодписант">
												<!-- “абл.4.7.  онтроль  об€зательности  присутстви€  —ведений  о  представителе  налогоплательщика  в  зависимости  от  значени€  ѕрѕодп  -->
												<sch:assert test="usch:iif(@ѕрѕодп=2, count(—вѕред)!=0, (count(—вѕред)!=0 or count(—вѕред)=0))">
													<usch:error code="0400300003" path="@ѕрѕодп" value-of-select="@ѕрѕодп">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ѕодписант/—вѕред при значении элемента ѕрѕодп, равном "<usch:value-of select="@ѕрѕодп"/>".</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation>Ћицо, подписавшее документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="‘»ќ" type="‘»ќ“ип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>‘амили€, им€, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="—вѕред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>—ведени€ о представителе налогоплательщика</xs:documentation>
												<xs:documentation><![CDATA[Ёлемент об€зателен при <ѕрѕодп>=2]]></xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Ќаимƒок" use="required">
													<xs:annotation>
														<xs:documentation>Ќаименование документа, подтверждающего полномочи€ представител€</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Ќаимќрг" use="optional">
													<xs:annotation>
														<xs:documentation>Ќаименование организации - представител€ налогоплательщика </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ѕрѕодп" use="required">
										<xs:annotation>
											<xs:documentation>ѕризнак лица, подписавшего документ</xs:documentation>
											<xs:documentation>ѕринимает значение:
1 Ц налогоплательщик   |
2 Ц представитель налогоплательщика</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="”—Ќ">
								<xs:annotation>
									<xs:documentation>Ќалогова€ деклараци€ по налогу, уплачиваемому в св€зи с применением упрощенной системы налогообложени€</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="—умЌалѕ”_Ќѕ">
												<xs:annotation>
													<xs:documentation>—умма налога (авансового платежа по налогу), уплачиваемого в св€зи с применением упрощенной  системы налогообложени€ (объект налогообложени€ - доходы), подлежаща€ уплате (уменьшению), по данным налогоплательщика</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="–асчЌал1">
															<xs:annotation>
																<!---*************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="«начение элемента –асч“орг—бор/“орг—бор”мен/—ум в (стр.160 –.2.1.2) должно быть меньше или равно разности значений элементов »счисл/—ум в (стр.130 –.2.1.1) и ”менЌал/—ум в (стр.140 –.2.1.1)">
																		<sch:rule context="–асчЌал1">
																			<!--  онтроль значени€ элемента –асч“орг—бор/“орг—бор”мен/—ум в (стр.160 –.2.1.2), которое должно быть меньше или равно разности значений элементов »счисл/—ум в (стр.130 –.2.1.1) и ”менЌал/—ум в (стр.140 –.2.1.1) -->
																			<sch:assert test="usch:iif(  ( count(–асч“орг—бор/“орг—бор”мен/@—ум в)!=0 and count(»счисл/@—ум в)!=0 and count(”менЌал/@—ум в)!=0 )	,  	( –асч“орг—бор/“орг—бор”мен/@—ум в  =  »счисл/@—ум в  -  ”менЌал/@—ум в ) ,  count(–асч“орг—бор/“орг—бор”мен/@—ум в)=0 )">
																				<usch:error code="0400400001" path="–асч“орг—бор/“орг—бор”мен/@—ум в" value-of-select="–асч“орг—бор/“орг—бор”мен/@—ум в">Ќе выполнено условие, что значение элемента –асч“орг—бор/“орг—бор”мен/—ум в (стр.160 –.2.1.2), равное "<usch:value-of select="–асч“орг—бор/“орг—бор”мен/@—ум в"/>", должно быть меньше или равно разности значений элементов »счисл/—ум в (стр.130 –.2.1.1) и ”менЌал/—ум в (стр.140 –.2.1.1), котора€ равна  "<usch:value-of select="»счисл/@—ум в - ”менЌал/@—ум в"/>".</usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************-->
																<!---*************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="«начение элемента –асч“орг—бор/“орг—бор”мен/—умѕг (стр.161 –.2.1.2) должно быть меньше или равно разности значений элементов »счисл/—умѕг (стр.131 –.2.1.1) и ”менЌал/—умѕг (стр.141 –.2.1.1)">
																		<sch:rule context="–асчЌал1">
																			<!--  онтроль значени€ элемента –асч“орг—бор/“орг—бор”мен/—умѕг (стр.161 –.2.1.2), которое должно быть меньше или равно разности значений элементов »счисл/—умѕг (стр.131 –.2.1.1) и ”менЌал/—умѕг (стр.141 –.2.1.1) -->
																			<sch:assert test="usch:iif(  ( count(–асч“орг—бор/“орг—бор”мен/@—умѕг)!=0 and count(»счисл/@—умѕг)!=0 and count(”менЌал/@—умѕг)!=0 )	,  	( –асч“орг—бор/“орг—бор”мен/@—умѕг  =  »счисл/@—умѕг  -  ”менЌал/@—умѕг ) ,  count(–асч“орг—бор/“орг—бор”мен/@—умѕг)=0 )">
																				<usch:error code="0400400001" path="–асч“орг—бор/“орг—бор”мен/@—умѕг" value-of-select="–асч“орг—бор/“орг—бор”мен/@—умѕг">Ќе выполнено условие, что значение элемента –асч“орг—бор/“орг—бор”мен/—умѕг (стр.161 –.2.1.2), равное "<usch:value-of select="–асч“орг—бор/“орг—бор”мен/@—умѕг"/>", должно быть меньше или равно разности значений элементов »счисл/—умѕг (стр.131 –.2.1.1) и ”менЌал/—умѕг (стр.141 –.2.1.1), котора€ равна  "<usch:value-of select="»счисл/@—умѕг - ”менЌал/@—умѕг"/>".</usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************-->
																<!---*************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="«начение элемента –асч“орг—бор/“орг—бор”мен/—ум9м (стр.162 –.2.1.2) должно быть меньше или равно разности значений элементов »счисл/—ум9м (стр.132 –.2.1.1) и ”менЌал/—ум9м (стр.142 –.2.1.1)">
																		<sch:rule context="–асчЌал1">
																			<!--  онтроль значени€ элемента –асч“орг—бор/“орг—бор”мен/—ум9м (стр.162 –.2.1.2), которое должно быть меньше или равно разности значений элементов »счисл/—ум9м (стр.132 –.2.1.1) и ”менЌал/—ум9м (стр.142 –.2.1.1) -->
																			<sch:assert test="usch:iif(  ( count(–асч“орг—бор/“орг—бор”мен/@—ум9м)!=0 and count(»счисл/@—ум9м)!=0 and count(”менЌал/@—ум9м)!=0 )	,  	( –асч“орг—бор/“орг—бор”мен/@—ум9м  =  »счисл/@—ум9м  -  ”менЌал/@—ум9м ) ,  count(–асч“орг—бор/“орг—бор”мен/@—ум9м)=0 )">
																				<usch:error code="0400400001" path="–асч“орг—бор/“орг—бор”мен/@—ум9м" value-of-select="–асч“орг—бор/“орг—бор”мен/@—ум9м">Ќе выполнено условие, что значение элемента –асч“орг—бор/“орг—бор”мен/—ум9м (стр.162 –.2.1.2), равное "<usch:value-of select="–асч“орг—бор/“орг—бор”мен/@—ум9м"/>", должно быть меньше или равно разности значений элементов »счисл/—ум9м (стр.132 –.2.1.1) и ”менЌал/—ум9м (стр.142 –.2.1.1), котора€ равна  "<usch:value-of select="»счисл/@—ум9м - ”менЌал/@—ум9м"/>".</usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************-->
																<!---*************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="«начение элемента –асч“орг—бор/“орг—бор”мен/—умЌалѕер (стр.163 –.2.1.2) должно быть меньше или равно разности значений элементов »счисл/—умЌалѕер (стр.133 –.2.1.1) и ”менЌал/—умЌалѕер (стр.143 –.2.1.1)">
																		<sch:rule context="–асчЌал1">
																			<!--  онтроль значени€ элемента –асч“орг—бор/“орг—бор”мен/—умЌалѕер (стр.163 –.2.1.2), которое должно быть меньше или равно разности значений элементов »счисл/—умЌалѕер (стр.133 –.2.1.1) и ”менЌал/—умЌалѕер (стр.143 –.2.1.1) -->
																			<sch:assert test="usch:iif(  ( count(–асч“орг—бор/“орг—бор”мен/@—умЌалѕер)!=0 and count(»счисл/@—умЌалѕер)!=0 and count(”менЌал/@—умЌалѕер)!=0 )	,  	( –асч“орг—бор/“орг—бор”мен/@—умЌалѕер  =  »счисл/@—умЌалѕер  -  ”менЌал/@—умЌалѕер ) ,  count(–асч“орг—бор/“орг—бор”мен/@—умЌалѕер)=0 )">
																				<usch:error code="0400400001" path="–асч“орг—бор/“орг—бор”мен/@—умЌалѕер" value-of-select="–асч“орг—бор/“орг—бор”мен/@—умЌалѕер">Ќе выполнено условие, что значение элемента –асч“орг—бор/“орг—бор”мен/—умЌалѕер (стр.163 –.2.1.2), равное "<usch:value-of select="–асч“орг—бор/“орг—бор”мен/@—умЌалѕер"/>", должно быть меньше или равно разности значений элементов »счисл/—умЌалѕер (стр.133 –.2.1.1) и ”менЌал/—умЌалѕер (стр.143 –.2.1.1), котора€ равна  "<usch:value-of select="»счисл/@—умЌалѕер - ”менЌал/@—умЌалѕер"/>".</usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************-->
																<xs:documentation>–асчет налога, уплачиваемого в св€зи с применением упрощенной системы налогообложени€ (объект налогообложени€ - доходы)</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ƒоход" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>—умма полученных доходов (налогова€ база дл€ исчислени€ налога (авансового платежа по налогу)) нарастающим итогом</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="—тавка" type="—тавка“ип">
																		<xs:annotation>
																			<xs:documentation>—тавка налога</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="»счисл" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>—умма исчисленного налога (авансового платежа по налогу)</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="”менЌал" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>—умма страховых взносов, выплаченных работникам пособий по временной нетрудоспособности и платежей (взносов) по договорам добровольного личного страховани€ (нарастающим итогом), предусмотренных пунктом 3.1 статьи 346.21 Ќалогового кодекса –оссийской ‘едерации, уменьшающа€ сумму исчисленного за налоговый (отчетный) период налога (авансового платежа по налогу)</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="–асч“орг—бор" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>–асчет суммы торгового сбора, уменьшающей сумму налога (авансового платежа по налогу), уплачиваемого в св€зи с применением упрощенной системы налогообложени€ (объект налогообложени€ Ц доходы), исчисленного по итогам налогового (отчетного) периода по объекту налогообложени€ от вида предпринимательской де€тельности, в отношении которого в соответствии с главой 33 Ќалогового кодекса –оссийской ‘едерации установлен торговый сбор</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ƒоход" type="—ум“ип">
																					<xs:annotation>
																						<xs:documentation>—умма полученных доходов (налогова€ база дл€ исчислени€ налога (авансового платежа по налогу)) нарастающим итогом</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="»счисл" type="—ум“ип">
																					<xs:annotation>
																						<xs:documentation>—умма исчисленного налога (авансового платежа по налогу)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="”менЌал" type="—ум“ип">
																					<xs:annotation>
																						<xs:documentation>—умма страховых взносов, выплаченных работникам пособий по временной нетрудоспособности и платежей (взносов) по договорам добровольного личного страховани€ (нарастающим итогом), предусмотренных пунктом 3.1 статьи 346.21 Ќалогового кодекса –оссийской ‘едерации, уменьшающа€ сумму исчисленного за налоговый (отчетный) период налога (авансового платежа по налогу)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="“орг—бор‘акт">
																					<xs:annotation>
																						<xs:documentation>—умма торгового сбора, фактически уплаченна€ в течение налогового (отчетного) периода (нарастающим итогом)</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:attribute name="—ум“еч в" use="optional">
																							<xs:annotation>
																								<xs:documentation>¬ течение первого квартала</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:totalDigits value="12"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:attribute>
																						<xs:attribute name="—ум“ечѕг" use="optional">
																							<xs:annotation>
																								<xs:documentation>¬ течение полугоди€</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:totalDigits value="12"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:attribute>
																						<xs:attribute name="—ум“еч9м" use="optional">
																							<xs:annotation>
																								<xs:documentation>¬ течение  дев€ти мес€цев</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:totalDigits value="12"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:attribute>
																						<xs:attribute name="—ум“ечЌалѕер" use="required">
																							<xs:annotation>
																								<xs:documentation>¬ течение  налогового периода</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:integer">
																									<xs:totalDigits value="12"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:attribute>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="“орг—бор”мен" type="—ум“ип">
																					<xs:annotation>
																						<xs:documentation>—умма уплаченного торгового сбора, уменьшающа€ сумму исчисленного за налоговый (отчетный) период налога (авансового платежа по налогу)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="ѕризЌѕ" use="required">
																	<xs:annotation>
																		<xs:documentation>ѕризнак налогоплательщика </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																			<xs:enumeration value="1"/>
																			<xs:enumeration value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ќ “ћќ" type="ќ “ћќ“ип" use="required">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ” в" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того апрел€ отчетного года</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_ѕг" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ””менѕг" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того июл€ отчетного года / —умма авансового платежа к уменьшению по сроку не позднее двадцать п€того июл€ отчетного года (со знаком "-")</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_9м" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ””мен9м" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того окт€бр€ отчетного года / —умма авансового платежа к уменьшению по сроку не позднее двадцать п€того окт€бр€ отчетного года (со знаком "-")</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_ѕер" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Ќалѕ””менѕер" use="required">
														<xs:annotation>
															<xs:documentation>—умма налога, подлежаща€ доплате за налоговый период (календарный год) по сроку / —умма налога к уменьшению за налоговый период (календарный год) по сроку (со знаком "-")</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="—умЌалѕ”_—мЌѕ">
												<xs:annotation>
													<xs:documentation>—умма налога (авансового платежа по налогу), уплачиваемого в св€зи с применением упрощенной системы налогообложени€ (объект налогообложени€ - доходы, уменьшенные на величину расходов), и минимального налога, подлежаща€ уплате (уменьшению), по данным налогоплательщика</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:choice>
															<xs:element name="Ќалѕ””менѕер">
																<xs:annotation>
																	<xs:documentation>—умма налога, подлежаща€ доплате за налоговый период (календарный год) по сроку / —умма налога к уменьшению (со знаком "-")</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Ќалѕ”ћин">
																<xs:annotation>
																	<xs:documentation>—умма минимального налога, подлежаща€ уплате за налоговый период (календарный год) по сроку</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:choice>
														<xs:element name="–асчЌал2">
															<xs:annotation>
																<xs:documentation>–асчет налога, уплачиваемого в св€зи с применением упрощенной системы налогообложени€, и минимального налога (объект налогообложени€ - доходы, уменьшенные на величину расходов)</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ƒоход" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>—умма полученных доходов нарастающим итогом</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="–асход" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>—умма произведенных расходов нарастающим итогом</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ЌалЅаза”быт" type="—ум“ип">
																		<xs:annotation>
																			<xs:documentation>Ќалогова€ база дл€ исчислени€ налога (авансового платежа по налогу) / —умма полученного убытка за истекший налоговый (отчетный) период</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="—тавка">
																		<xs:annotation>
																			<xs:documentation>—тавка налога</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:attribute name="—тавка в" use="optional">
																				<xs:annotation>
																					<xs:documentation>—тавка налога за первый квартал</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:totalDigits value="3"/>
																						<xs:fractionDigits value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:attribute>
																			<xs:attribute name="—тавкаѕг" use="optional">
																				<xs:annotation>
																					<xs:documentation>—тавка налога за полугодие</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:fractionDigits value="1"/>
																						<xs:totalDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:attribute>
																			<xs:attribute name="—тавка9м" use="optional">
																				<xs:annotation>
																					<xs:documentation>—тавка налога за дев€ть мес€цев</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:fractionDigits value="1"/>
																						<xs:totalDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:attribute>
																			<xs:attribute name="—тавкаЌалѕер" use="required">
																				<xs:annotation>
																					<xs:documentation>—тавка налога за налоговый период</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:fractionDigits value="1"/>
																						<xs:totalDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="»счисл" type="—ум“ип" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>—умма исчисленного налога (авансового платежа по налогу)</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="”бытѕред" use="optional">
																	<xs:annotation>
																		<xs:documentation>—умма убытка, полученного в предыдущем (предыдущих) налоговом (налоговых) периоде (периодах), уменьшающа€ налоговую базу за налоговый период</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																			<xs:totalDigits value="12"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="»счислћин" use="required">
																	<xs:annotation>
																		<xs:documentation>—умма исчисленного минимального налога за налоговый период (ставка налога 1%) </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																			<xs:totalDigits value="12"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ќ “ћќ" type="ќ “ћќ“ип" use="required">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ” в" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того апрел€ отчетного года</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_ѕг" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ””менѕг" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того июл€ отчетного года / —умма авансового платежа к уменьшению по сроку не позднее двадцать п€того июл€ отчетного года (со знаком "-")</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_9м" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="јвѕ””мен9м" use="optional">
														<xs:annotation>
															<xs:documentation>—умма авансового платежа к уплате по сроку не позднее двадцать п€того окт€бр€ отчетного года / —умма авансового платежа к уменьшению по сроку не позднее двадцать п€того окт€бр€ отчетного года (со знаком "-")</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ќ “ћќ_ѕер" type="ќ “ћќ“ип" use="optional">
														<xs:annotation>
															<xs:documentation> од по ќ “ћќ</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="ќтчет»сп" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ќтчет о целевом использовании имущества (в том числе денежных средств), работ, услуг, полученных в рамках благотворительной де€тельности, целевых поступлений, целевого финансировани€</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ќтчет»сп од" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>ќтчет о целевом использовании имущества (в том числе денежных средств), работ, услуг, полученных в рамках благотворительной де€тельности, целевых поступлений, целевого финансировани€, по коду вида поступлений</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name=" од¬идѕост" use="required">
																<xs:annotation>
																	<xs:documentation> од вида поступлений</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ƒатаѕост" type="ƒата“ип" use="optional">
																<xs:annotation>
																	<xs:documentation>ƒата поступлени€</xs:documentation>
																	<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="—умƒен—ред" use="required">
																<xs:annotation>
																	<xs:documentation>—тоимость имущества, работ, услуг или сумма денежных средств</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="—ум»сп—рок" use="optional">
																<xs:annotation>
																	<xs:documentation>—умма средств, использованных по назначению в течение установленного срока</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="—рок»сп" type="ƒата“ип" use="optional">
																<xs:annotation>
																	<xs:documentation>—рок использовани€ (до какой даты)</xs:documentation>
																	<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="—ум»спЌе—рок" use="optional">
																<xs:annotation>
																	<xs:documentation>—умма средств, срок использовани€ которых не истек</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="—умЌе»сп—рок" use="optional">
																<xs:annotation>
																	<xs:documentation>—умма средств, использованных не по назначению или не использованных в установленный срок</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="12"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="—умƒен—ред»т" use="required">
													<xs:annotation>
														<xs:documentation>—тоимость имущества, работ, услуг или сумма денежных средств, итого по отчету</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—ум»сп—рок»т" use="optional">
													<xs:annotation>
														<xs:documentation>—умма средств, использованных по назначению в течение установленного срока, итого по отчету</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—ум»спЌе—рок»т" use="optional">
													<xs:annotation>
														<xs:documentation>—умма средств, срок использовани€ которых не истек, итого по отчету</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—умЌе»сп—рок»т" use="optional">
													<xs:annotation>
														<xs:documentation>—умма средств, использованных не по назначению или не использованных в установленный срок, итого по отчету</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name=" Ќƒ" use="required">
							<xs:annotation>
								<xs:documentation> од формы отчетности по  Ќƒ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base=" Ќƒ“ип">
									<xs:enumeration value="1152017"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ƒатаƒок" type="ƒата“ип" use="required">
							<xs:annotation>
								<xs:documentation>ƒата формировани€ документа</xs:documentation>
								<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ѕериод" use="required">
							<xs:annotation>
								<xs:documentation>Ќалоговый период</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="34"/>
									<xs:enumeration value="50"/>
									<xs:enumeration value="95"/>
									<xs:enumeration value="96"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ќтчет√од" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>ќтчетный год</xs:documentation>
								<xs:documentation>
√од в формате √√√√</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name=" одЌќ" type="—ќЌќ“ип" use="required">
							<xs:annotation>
								<xs:documentation> од налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Ќом орр" use="required">
							<xs:annotation>
								<xs:documentation>Ќомер корректировки</xs:documentation>
								<xs:documentation>ѕринимает значение:
0 Ц первичный документ, 
1 Ц 999 Ц номер корректировки дл€ корректирующего документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ѕоћесту" use="required">
							<xs:annotation>
								<xs:documentation> од места, по которому представл€етс€ документ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="120"/>
									<xs:enumeration value="210"/>
									<xs:enumeration value="215"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="»д‘айл" use="required">
				<xs:annotation>
					<xs:documentation>»дентификатор файла</xs:documentation>
					<xs:documentation>—одержит (повтор€ет) им€ сформированного файла (без расширени€)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерсѕрог" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерс‘орм" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.05"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="—ум“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ по суммам</xs:documentation>
		</xs:annotation>
		<xs:attribute name="—ум«а в" use="optional">
			<xs:annotation>
				<xs:documentation>«а первый квартал</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—ум«аѕг" use="optional">
			<xs:annotation>
				<xs:documentation>«а полугодие</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—ум«а9м" use="optional">
			<xs:annotation>
				<xs:documentation>«а дев€ть мес€цев</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—ум«аЌалѕер" use="required">
			<xs:annotation>
				<xs:documentation>«а налоговый период</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="—тавка“ип">
		<xs:annotation>
			<xs:documentation>—тавка налога</xs:documentation>
		</xs:annotation>
		<xs:attribute name="—тавка в" use="optional">
			<xs:annotation>
				<xs:documentation>—тавка налога за первый квартал</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="2"/>
					<xs:fractionDigits value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—тавкаѕг" use="optional">
			<xs:annotation>
				<xs:documentation>—тавка налога за полугодие</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="1"/>
					<xs:totalDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—тавка9м" use="optional">
			<xs:annotation>
				<xs:documentation>—тавка налога за дев€ть мес€цев</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="1"/>
					<xs:totalDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—тавкаЌалѕер" use="required">
			<xs:annotation>
				<xs:documentation>—тавка налога за налоговый период</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="1"/>
					<xs:totalDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="‘»ќ“ип">
		<xs:annotation>
			<xs:documentation>‘амили€, им€, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="‘амили€" use="required">
			<xs:annotation>
				<xs:documentation>‘амили€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»м€" use="required">
			<xs:annotation>
				<xs:documentation>»м€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ќтчество" use="optional">
			<xs:annotation>
				<xs:documentation>ќтчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="»ЌЌ‘Ћ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="»ЌЌёЋ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" ѕѕ“ип">
		<xs:annotation>
			<xs:documentation> од причины постановки на учет ( ѕѕ) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" Ќƒ“ип">
		<xs:annotation>
			<xs:documentation> од из  лассификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" Ѕ “ип">
		<xs:annotation>
			<xs:documentation> од из  лассификатора доходов в бюджет </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="—ќЌќ“ип">
		<xs:annotation>
			<xs:documentation> оды из  лассификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ “ћќ“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ ¬Ёƒ“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора видов экономической де€тельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ƒата“ип">
		<xs:annotation>
			<xs:documentation>ƒата в формате ƒƒ.ћћ.√√√√ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
